<h1>Win a million dollars</h1>
<form action="http://localhost:3000/chirps" method="POST">
    <input type="hidden" name="chirp[body]" value="I should not click on random buttons">
    <input type="submit" value="CLAM YOR PRIZ HERE">

</form>